<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gxa.dao.UserDao">
	<!-- 通过用户名和密码查询 -->
	<select id="getUserArea_id" parameterType="java.util.Map" resultType="com.gxa.model.User">
		select * from user where username=#{username} and password=#{password}
	</select>
</mapper>